.footer-logo {
  width: 100%;
  height: 100%;
}
a {
  color: $black-color !important;
  font-family: 'Open Sans', sans-serif !important;
}
.bg-light {
  display: flex;
  align-items: center;
  background-image: url('../assets/footer-5.png');
  height: 521px;
  margin-bottom: 0px;

  .title {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    color: #1c1c1e;
    margin-bottom: 20px;
  }
  .row {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
.footer-top {
  height: 595px;
  background-color: #F7F8FB;
  display: flex;
  align-items: center;
  .d-flex
  h2 {
    font-family: Roboto;
    margin-bottom: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 62px;
    color: $black-color;
  }
  h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #2C2C2E
  }
}