%border-style{
  border-bottom: 3px solid $border-color;
  color: $border-color;
}
.container-fluid{
}
header {
  padding: 0;
  font-family:Catamaran;
  width: 100%;
  color: #000000;
  .nav-m {
    height: 74px;
    margin-right: 165px;
    margin-left: 165px;
    background: $white-color;
    margin-right: 165px;
    margin-left: 165px;
  }
  .nav-right {
    a {
      padding: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #000000 ;
      margin-right: 60px;
      text-align: center;
      border-bottom: 3px solid transparent;
      padding: 20px 0;
      &:hover {
       @extend %border-style;
      }
      &:active{
        @extend %border-style;
      }
    }
    .nav-link .btn{
      background: #0060AF;
      border-radius: 5.2px;
      width: 120px;
      height: 48px;
    }
  }
}