h1 {
    font-weight: bold;
    font-size: 42px;
    color: $white-color;
  }
  .text-white {
    a {
      background: $text-color;
      color: $white-color;
      font-size: 18px;
      font-weight: 500;
      border-radius: 40px;
      border: none;
      i {
        margin-right: 15px;
      }
    }
  }
  .p-5 {
    padding: 0 !important;
  }
  .bg-image.mask {
    position: relative;
    height: 202px;
    background-image: linear-gradient(90deg, #00223F 0%, rgba(30, 57, 143, 0.5) 100%), url('../assets/image 8.svg');
    z-index: 9;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 202px;
      background-image: linear-gradient(90deg, #00223F 0%, rgba(30, 57, 143, 0.5) 100%), url('../assets/image 8.svg');
      z-index: -1;
    }
  }

.col-md-6 {
  border-radius: 13px;
  &:nth-child(2n) {
    margin-top: -82px;
  }
}
.card {
  height: 508px;
  padding: 50px 96px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  .card-body {
    font-family: Open Sans;
    h2 {
      font-size: 32px;
      line-height: 62px;
      font-weight: 600;
      margin-top: 42px;
      margin-bottom: 16px;
      color: #0060af;
    }
    .card-subtitle {
      font-size: 18px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 12px;
      color: #3a3a3c!important;
    }

    .card-text {
      font-size: 18px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 12px;
      color: #3a3a3c;
    }
    .card-link {
      font-size: 18px;
      line-height: 40px;
      font-weight: 600;
      margin-top: 66px;
      color: #0060af !important;
      display: inline-block;
      overflow: hidden;
      transition: all .5s;
    }
  }
}

.body-alignment {
  position: relative;

  margin-bottom: 0 !important;
}

.body-alignment{
  position: relative;
  z-index: 9;
  &:after{
    content: "";
    position: absolute;
    top: -88px;
    left: -30px;
    background-image: url('../assets/Group 206.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 135px;
    z-index: -1;
  }
}
//.card-view{
//  width: 545px;
//  height: 200px;
//  background: #FFFFFF;
//  border-radius: 13px;
//  span{
//    font-weight: 500;
//    font-size: 24px;
//    line-height: 40px;
//    color: #0060AF!important;
//    font-family: Roboto;
//    font-style: normal;
//    padding-right: 2px;
//  }
//  i{
//    color: #0060AF!important;
//  }
//}

.footer-top {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;

  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: -167px;
    left: 275px;
    background-image: url('../assets/Group 206.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 135px;
    z-index: -1;
  }

  h2 {
    font-family: Roboto;
    margin-top: 59px;
    margin-bottom: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 62px;
    color: $black-color;
  }

  h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #2C2C2E
  }
  .align-items-center {
    text-align: center;

    h2 {
      padding-top: 59px;
    }
  }

}
