
$white-color:#fafafa;
$text-color:red;
$blue-color:blue;
$black-color:#000000;
$border-color:#0d6efd !important;
$hover-blue:#0B70E1!important;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);